# Backend API URL
VITE_API_BASE_URL=http://localhost:8080/api/toilets

# Cloudinary Config (画像アップロード機能用)
VITE_CLOUDINARY_CLOUD_NAME=your_cloud_name
VITE_CLOUDINARY_UPLOAD_PRESET=your_upload_preset

# Google Maps API Key
# Caution: Never commit the actual API Key to GitHub!
VITE_GOOGLE_MAPS_API_KEY=your_google_maps_api_key

VITE_SENTRY_DSN=